/* Slider */

.slide-wrapper {
    width: 100vw;
    height: 60vh;
    position: relative;
}

.slide--img {
    position: absolute;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    opacity: 60%;
    z-index: -1;
}

.slide--img-cover {
    position: absolute;
    width: 100%;
    height: 60vh;
    background-color: #000000;
    z-index: -2;
    opacity: 80%;
}

.slide--content {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide--arrow-left {
    box-sizing: content-box;
    width: 3%;
    height: 100%;
    opacity: 50%;
    padding-left: 5%;
    padding-right: 25%;
}

.slide--arrow-right {
    box-sizing: content-box;
    width: 3%;
    height: 100%;
    opacity: 50%;
    padding-left: 25%;
    padding-right: 5%;
}

.slide--arrow-left:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 50%), rgba(0, 0, 0, 0));
    opacity: 100%;
}

.slide--arrow-right:hover {
    background-image: linear-gradient(to left,  rgba(255, 255, 255, 50%), rgba(0, 0, 0, 0));
    opacity: 100%;
}

.slide--center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh;
}

.slide--text {
    font-family: 'Habibi', 'Poppins', sans-serif;
    font-weight: 400;
    font-size: min(40px, 5vw, 8vh);
    text-align: center;
    color: #FFFFFF;
}

.slide--dots {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.slide--dot {
    height: 0.8vw;
    width: 0.8vw;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px #FDFFFC;
    background-color: #FDFFFC;
    opacity: 50%;
}

.slide--large-dot {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 50%;
    background-color: #FDFFFC;
    opacity: 75%;
}